<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.just.news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 文字转语音适配Android11以上 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name="com.just.machine.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.just.machine.ui.activity.SixMinReportActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.just.machine.ui.activity.SixMinPreReportActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.just.machine.ui.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.just.machine.ui.activity.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"/>
        </activity>
        <activity
            android:name="com.just.machine.ui.activity.PatientActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.just.machine.ui.activity.CardiopulmonaryActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.just.machine.ui.fragment.setting.CardiopulmonarySettingFragment"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.just.machine.ui.activity.SixMinActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.just.machine.ui.activity.SixMinSystemSettingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>